<div class="comment">
  <% if comment.approved %>
    <p><%= comment.content %> - <%= link_to comment.user.username, profile_path(comment.user),  class: "link-dark" %></p>
    <p> Created <%= time_tag @article.created_at, "data-local": 'time-ago' %> </p>
  <% end %>
  <% if comment.user == current_user %>
    <p><%= link_to 'Edit', edit_article_comment_path(comment.article, comment) %></p>
    <p><%= link_to 'Delete', article_comment_path(comment.article, comment),
                  method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
</div>
