<div class="container mt-2 mb-3">
    <%= form_tag all_comments_path, method: :get do %>
        <%= search_field_tag :search , params[:search], class:"form-control", placeholder: "Search Here" %>
        <%= submit_tag "Search", class:"btn btn-dark mt-2" %>
    <% end %>
</div>
<div class="container">
    <%= form_with url: approving_comments_path(@comment), method: :patch do |form| %>
        <h3> All Comments </h3>

        <table class="table">
        <thead>
            <tr>
            <th scope="col">index</th>
            <th scope="col">Comment</th>
            <th scope="col">Commenter</th>
            <th scope="col">Article</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
            <th scope="col">Approve</th>
            </tr>
        </thead>
        <tbody>
            <% @comments.each_with_index do |comment,index| %>
                <tr scope="row">
                    <td><%= index+1 %></td>
                    <td><%= comment.content.truncate(20) %></td>
                    <td><%=link_to comment.user.username, profile_path(comment.user) %></td>
                    <td><%=link_to comment.article.title, article_path(comment.article_id) %></td>
                    <td><%=link_to comment.article.user.username, profile_path(comment.article.user_id) %></td>
                    <td><%= comment.article.status  %></td>
                    <td><div class="field">
                        <%= form.check_box "comments[comment #{comment.id}]", checked: comment.approved %>
                    </div></td>
                </tr>
            <% end %>
        </tbody>
        </table>
        <div class="actions mt-3">
            <%= form.submit "Submit", class: 'btn btn-dark' %>
        </div>
    <%end%>

        <div class="container mt-3 mb-3">
            <%= paginate @comments %>
        </div>
</div>