<%= form_with model: article do |form| %>
    <div class="card  mb-5">
        <div class="card-header">
             <div class="row  container-fluid">
                <div class="col-sm-6">
                    <div class="form-group">
                        <%= form.label :title %><br>
                        <%= form.text_field :title, class:"form-control" %>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <%= form.label :status %><br>
                        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public',  class:"btn btn-dark dropdown-toggle" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p>
                 <div class="form-group">
                    <%= form.label :subject %><br>
                    <%= form.text_area :subject, class:"form-control", rows: "15"  %>
                </div>
            </p>
            <p>
                 <div class="form-group">
                    <%= form.label :body %><br>
                    <%= form.rich_text_area :body, class:"form-control", rows: "15"  %>
                </div>
            </p>
            <div class="actions mb-2 mt-2">
                <%= form.submit class:"btn btn-dark btn-lg", data: { turbo: false }  %>
            </div>
        </div>
    </div>

<% end %>
