<div class="container mt-2 mb-3">
    <%= form_tag articles_path, method: :get do %>
        <%= search_field_tag :search , params[:search], class:"form-control", placeholder: "Search Here" %>
        <%= submit_tag "Search", class:"btn btn-dark mt-2" %>
    <% end %>
</div>
<div class="container mb-5">
    <h3>Articles</h3>
            There are <%= @articles.count %> articles On the page 
<br><br>
        <% if can? :create, Article %>
            <%= link_to "New Article", new_article_path %>
        <% end %>
        <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Article</th>
                <th scope="col">Author</th>
                <th scope="col">Views</th>
                <th scope="col">Status</th>
                <th scope="col">Likes</th>
            </tr>
        </thead>
        <tbody>
            <% @articles.each_with_index do |article,index| %>
                <tr scope="row">
                    <td><%= link_to article.title , article%></td>
                    <td><%= article.user.username %></td>
                    <td><%= article.views %></td>
                    <td><%= article.status %></td>
                    <td><%= article.likes.count %></td>
                </tr>
            <% end %>
        </tbody>
        </table>

        <%= paginate @articles %>
</div>