<div class="container mt-5">
  <div class="card mb-5">
    <div class="card-header">
      <div class="row  container-fluid">
        <div class="col-sm-6">
          <h4><%= @article.title %></h4>
          <p>Created by : <%= link_to @article.user.username, profile_path(@article.user),  class: "link-dark" %></p>
          <p> <%= @article.views %> Views</p>
          <% if can? :update, @article %>
                <p><%= link_to "Edit", edit_article_path(@article) %></p> 
            <% end %>
        </div>
        <div class="col-sm-6">
          <p class="text-muted"> Created on : <%= time_tag @article.created_at, "data-local": 'time-ago' %> </p>

            <% if can? :destroy, @article %>
                  <%= button_to "Destroy", article_path(@article),data: { turbo: :false, turbo_confirm: "Are you sure?"}, method: :delete, class: "btn btn-dark" %>
            <% end %>
          <div>
              <%= @article.likes.count %> likes
                <% if user_signed_in? %>
                  <%# if can? :update, Like %>
                    <%#= link_to like_text, likes_update_path(article: @article), id: "like_link", class: "btn btn-dark", remote: true, method: :patch %>
                  <%# end %>
                  <% if can? :create, Like %>
                  <% like = current_user.likes.find_by(article: @article)  %>
                    <% if like.nil? %>
                        <%= button_to "Like", likes_path, params: { like: { article_id: @article.id } }, method: :post, class: "btn btn-dark" %>
                    <% else %>
                        <%= button_to "Unlike", like_path(like),  method: :delete, class: "btn btn-dark" %>
                    <% end %>
                  <% end %>
                <% end %>

          </div>
        </div>
      </div>
    </div>
    <div class="card-body p-5">
      <div class="card mb-3">
        <div class="card-body p-3">
          <p> <%= @article.subject %> </p>
        </div>
      </div>
      <% if @article.comments.exists? %>
      <h5>Comments</h5>
      <% end %>
      <div class="row">
        <%= render partial: 'comments/comment', collection: @article.comments %>
      </div>
      <% if can? :create, Comment %>
        <%= render partial: 'comments/form', locals: { comment: @article.comments.new } %>
      <% end %>
    </div>
  </div>
</div>