<section class="h-100 gradient-custom">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-6">
        <div class="card bg-transparent text-white" style="border-radius: 1rem;">
          <div class="card-body p-3 text-center">
            <h2 class="text-white-50 mb-5">Edit an account</h2>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "users/shared/error_messages", resource: resource %>
              <div class="form-outline mb-4">
                <%= f.label :avatar, class: "form-label" %><br />
                <%= f.file_field :avatar, class: "form-control form-control-lg bg-transparent", style: "color: white;" %>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline mb-4">
                    <%= f.label :first_name, class: "mb-2" %><br />
                    <%= f.text_field :first_name, class: "form-control form-control-lg bg-transparent", style: "color: white;" %>
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline mb-4">
                    <%= f.label :last_name, class: "mb-2" %><br />
                    <%= f.text_field :last_name, class: "form-control form-control-lg bg-transparent", style: "color: white;" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline mb-4">
                    <%= f.label :contact_number, class: "mb-2" %><br />
                    <%= f.text_field :contact_number, class: "form-control form-control-lg bg-transparent", style: "color: white;" %>
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline mb-4">
                    <%= f.label :date_of_birth, class: "mb-2" %><br />
                    <%= f.date_field :date_of_birth, class: "form-control form-control-lg bg-transparent", style: "color: white;" %>
                  </div>
                </div>
              </div>
              <div class="form-outline mb-4">
                <%= f.label :address, class: "mb-2" %><br />
                <%= f.text_field :address, class: "form-control form-control-lg bg-transparent", style: "color: white;" %>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-group dropdown">
                    <%= f.label :country, class: "mb-2" %><br />
                    <%= f.select :country, @user.countries.invert, { include_blank: true }, class: "form-control form-control-lg bg-transparent", style: "color: white;" %>
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline mb-4">
                    <%= f.label :gender, class: "mb-2" %><br />
                    <%= f.select :gender, ["male", "female", "unknown"], { include_blank: true }, class: "form-control form-control-lg bg-transparent", style: "color: white;" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline mb-4">
                    <%= f.label :email, class: "mb-2" %><br />
                    <%= f.email_field :email, autocomplete: "email", class: "form-control form-control-lg bg-transparent", style: "color: white;" %>
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline mb-4">
                    <%= f.label :username, class: "mb-2" %><br />
                    <%= f.text_field :username, autocomplete: "username", class: "form-control form-control-lg bg-transparent", style: "color: white;" %>
                  </div>
                </div>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <div class="form-outline mb-4">
                <%= f.label :current_password, class: "mb-2" %> <br />
                <i>(Require)</i>
                <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control form-control-lg bg-transparent", style: "color: white;" %>
              </div>
              <div class="card-header mt-5 mb-3">
                <h3 class="card-title text-center">Edit Password</h3>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline mb-4">
                    <%= f.label :new_password, class: "mb-2" %><br />
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg bg-transparent", style: "color: white;" %>
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline mb-4">
                    <%= f.label :new_password_confirmation, class: "mb-2" %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg bg-transparent", style: "color: white;" %>
                  </div>
                </div>
              </div>
              <div class="actions">
                <%= f.submit "Update", class: "btn btn-outline-light btn-lg px-5", data: { turbo: false } %>
              </div>
            <% end %>
            <div class="d-flex justify-content-center mt-2">
              <%= button_to "Delete Account?", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-light btn-lg px-5" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
