<section class="h-100 gradient-custom">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-6">
        <div class="card bg-transparent text-white" style="border-radius: 1rem;">
          <div class="card-body p-3 text-center">
            <h2 class="text-white-50 mb-5">Create an account</h2>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "users/shared/error_messages", resource: resource %>
                <div class="form-outline mb-4">
                  <%= f.label :avatar, class:"form-label" %><br />
                  <%= f.file_field :avatar, class: "form-control form-control-lg bg-transparent", style: 'color: white;' %>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline mb-4">
                      <%= f.label :first_name, class:"form-label" %><br />
                      <%= f.text_field :first_name, class: "form-control form-control-lg bg-transparent", style: 'color: white;' %>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline mb-4">
                      <%= f.label :last_name , class:"form-label"%><br />
                      <%= f.text_field :last_name, class: "form-control form-control-lg bg-transparent", style: 'color: white;' %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline mb-4">
                      <%= f.label :contact_number, class:"form-label" %><br />
                      <%= f.text_field :contact_number, class: "form-control form-control-lg bg-transparent", style: 'color: white;' %>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline mb-4">
                      <%= f.label :date_of_birth, class:"form-label" %><br />
                      <%= f.date_field :date_of_birth, class: "form-control form-control-lg bg-transparent", style: 'color: white;' %>
                    </div>
                  </div>
                </div>
                
                <div class="form-outline mb-4">
                  <%= f.label :address , class:"form-label"%><br />
                  <%= f.text_field :address, class: "form-control form-control-lg bg-transparent", style: 'color: white;' %>
                </div>

                 <div class="row">
                  <div class="col-md-6 mb-4 pb-2">    
                    <div class="form-group dropdown">
                      <%= f.label :country, class:"form-label" %><br />
                      <%= f.select :country, @user.countries.invert, { include_blank: true }, class: "form-control form-control-lg bg-transparent", style: 'color: black;' %>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline mb-4">
                      <%= f.label :gender, class:"form-label" %><br />
                      <%= f.select :gender, ['Male', 'Female', 'Unknown'], { include_blank: true }, class: "form-control form-control-lg bg-transparent", style: 'color: black;' %>
                    </div>
                  </div>
                </div>

                
                <div class="row mb-4 col form-group">
                  <div class="col">
                    <div class="form-outline mb-4">
                      <%= f.label :email, class:"form-label" %><br />
                      <%= f.email_field :email, autocomplete: "email", class: "form-control form-control-lg bg-transparent", style: 'color: white;' %>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline mb-4">
                      <%= f.label :username, class:"form-label" %><br />
                      <%= f.text_field :username,  autocomplete: "username", class: "form-control form-control-lg bg-transparent", style: 'color: white;' %>
                    </div>
                  </div>
                </div>
                <div class="row mb-4 col form-group">
                  <div class="col">
                    <div class="form-outline mb-4">
                      <%= f.label :password, class:"form-label" %>
                      <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg bg-transparent", style: 'color: white;' %>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline mb-4">
                      <%= f.label :password_confirmation, class:"form-label" %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg bg-transparent", style: 'color: white;' %>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <%= f.submit "Sign up", class:"btn btn-outline-light btn-lg px-5" %>
                </div>
              <% end %>
              <p class="text-center text-muted mt-5 mb-0">
                <%= render "users/shared/links" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
